Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.idea
_dev
node_modules/
yarn-error.log
.next/
out/
dist/
.DS_Store
.vscode/
.idea/
.env
.env.local
.env.*.local
.prettierrc
components.json
eslint.config.mjs
next.config.ts
next-env.d.ts
postcss.config.mjs
