__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
.venv
env/
venv/
*.egg-info/
.vscode/
.idea/
.coverage
.pytest_cache/
htmlcov/
dist/
build/
*.sqlite3
*.pem
database/
storage/
.dev/
.yarn/
.dockerignore
notes.md
.gitignore